@charset "UTF-8";
/* COLORS */
/* FONTS */
@font-face {
  font-family: "Yanone";
  src: url("../fonts/yanone.ttf"); }

@font-face {
  font-family: "jersey";
  src: url("../fonts/Jersey M54.ttf"); }

@font-face {
  font-family: "roboto-regular";
  src: url("../fonts/roboto-regular.ttf"); }

@font-face {
  font-family: "roboto-bold";
  src: url(../fonts/roboto-bold.ttf); }

/* COLORS */
/* FONTS */
@font-face {
  font-family: "Yanone";
  src: url("../fonts/yanone.ttf"); }

@font-face {
  font-family: "jersey";
  src: url("../fonts/Jersey M54.ttf"); }

@font-face {
  font-family: "roboto-regular";
  src: url("../fonts/roboto-regular.ttf"); }

@font-face {
  font-family: "roboto-bold";
  src: url(../fonts/roboto-bold.ttf); }

/* SCSS HEADER */
header {
  background-color: black;
  color: white;
  /* Aplico Flexbox para poder alinear el logo y el menú */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 23vh; }
  header .logoMenu {
    width: 120px;
    height: 120px;
    transition: all 0.5s; }
    header .logoMenu:hover {
      transform: scale(1.5); }
  @media screen and (max-width: 450px) {
    header .logoMenu {
      width: 80px;
      padding-top: 0.3em;
      padding-left: 0; }
    header .nav-search {
      width: 10em; } }
  header .menuHeader {
    font-family: roboto-regular;
    font-size: 16px;
    padding-left: 10px;
    text-decoration: none;
    box-shadow: none;
    list-style: none;
    display: inline; }

/* menú desplegable */
#menu-abrir,
#menu-cerrar {
  padding: 6px; }

#menu-check {
  display: none; }

header div.contenedor {
  place-content: flex-start; }

header div.contenedor nav {
  width: 70%;
  display: flex;
  place-content: space-between; }

/* media querie menú */
@media screen and (min-width: 910px) {
  /* en desktop */
  #menu {
    display: none; }
  header div.contenedor,
  header div.contenedor ul,
  header div.contenedor ul il {
    display: inline;
    padding-right: 4px; }
  header div.contenedor nav {
    width: 100%;
    display: inline; } }

@media screen and (max-width: 909px) {
  header div.contenedor {
    display: flex;
    place-content: space-between; }
  nav ul li {
    padding-top: 1em;
    padding-bottom: 1em;
    border-top: 0.5px solid white;
    border-bottom: 0.5px solid white; }
  /* si no está chequeado */
  #menu-check:not(:checked) ~ nav {
    display: none; }
  /* si está chequeado */
  #menu-check:checked ~ nav {
    display: block; }
  /* activación del botón */
  #menu {
    display: block;
    color: white;
    background-color: transparent;
    font-size: 1.2em;
    border: 2px solid white;
    border-radius: 0.3em;
    position: absolute;
    right: 0.5em;
    top: 2em;
    transition: all 0.5s;
    z-index: 9999; }
  #menu-cerrar {
    display: none; }
  #menu-check:checked ~ label #menu-abrir {
    display: none; }
  #menu-check:checked ~ label #menu-cerrar {
    display: block; }
  /* estilo para el menú desplegable */
  header div.contenedor nav {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    padding-top: 0.5em;
    padding-right: 3em;
    background-color: black;
    opacity: 0.95;
    font-weight: lighter; }
  header div.contenedor nav ul,
  header div.contenedor nav ul li {
    display: block;
    text-align: right; } }

/* COLORS */
/* FONTS */
@font-face {
  font-family: "Yanone";
  src: url("../fonts/yanone.ttf"); }

@font-face {
  font-family: "jersey";
  src: url("../fonts/Jersey M54.ttf"); }

@font-face {
  font-family: "roboto-regular";
  src: url("../fonts/roboto-regular.ttf"); }

@font-face {
  font-family: "roboto-bold";
  src: url(../fonts/roboto-bold.ttf); }

footer {
  background-color: black;
  font-family: roboto-regular;
  color: white;
  font-size: 16px;
  padding-top: 40px;
  display: flex;
  justify-content: space-around;
  padding-left: 0;
  padding-right: 0; }
  footer .horarios {
    text-align: center;
    font-family: Yanone;
    font-size: 16px; }
  footer .wsp {
    position: fixed;
    right: 50px;
    bottom: 10%; }

/* SCSS FONTS */
h1 {
  font-family: jersey;
  font-size: 50px;
  color: white; }

h2 {
  font-family: Yanone;
  font-size: 25px;
  color: white; }

h3 {
  font-family: roboto-regular;
  font-size: 16px;
  color: white; }

a {
  text-decoration: none;
  color: white; }
  a:hover {
    color: #414562; }

main {
  /* en NOVEDADES */ }
  main .portada {
    background-image: url("../media/portadas-varios/bg.jpg");
    background-size: cover;
    color: white;
    text-align: center;
    border-top: 1px solid whitesmoke;
    width: auto;
    height: auto;
    padding-top: 200px;
    padding-bottom: 200px; }
  main .principal {
    padding-top: 100px;
    padding-bottom: 100px; }
    main .principal h1 {
      letter-spacing: 2px; }
  main .bg-second {
    background-color: #1A1B1D; }
    main .bg-second .quieneSomos {
      font-family: roboto-regular;
      font-size: 16px;
      color: white;
      text-align: center;
      padding-bottom: 20px; }
    main .bg-second .h3-quienes {
      font-family: Yanone;
      font-size: 25px; }
  main .sectionProductos {
    background-color: #1A1B1D;
    font-family: roboto-regular;
    font-size: 30px;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto; }
  main .bg-prod {
    background-color: black; }
  main .text-news {
    margin-bottom: 0;
    padding: 60px 10px;
    font-size: x-large; }
  main .productos {
    text-align: center;
    position: relative;
    margin: 0 -15px;
    padding-right: 0;
    background-position: center center;
    background-size: cover; }
  main #boton {
    padding: 5px 20px;
    font-family: roboto-regular;
    font-size: 18px;
    color: white;
    background-color: transparent;
    border-color: #ffffff; }
  main .position {
    width: 100%;
    position: absolute;
    top: 30%;
    text-align: center;
    color: white;
    font-size: 30px;
    letter-spacing: 3px; }
  main .hover-img:hover {
    background-color: #1A1B1D;
    opacity: 0.3; }
  @media screen and (min-width: 768px) {
    main .position {
      top: 40%; } }
  main .transition {
    transition: transform 0.5s; }
    main .transition:hover {
      transform: scale(1.5); }

/* en GROWSHOP y SMOKESHOP */
.gt {
  font-size: 3em;
  padding-top: 15px;
  padding-bottom: 15px;
  letter-spacing: 1px; }

/* En AYUDA */
.main-ayuda {
  background-color: #1A1B1D;
  color: white; }

.contactoAyuda {
  text-align: center;
  font-family: roboto-regular; }

/* Para centrar los articles en Growshop y Smokeshop */
@media screen and (max-width: 767px) {
  article {
    display: flex;
    justify-content: center; } }

@media screen and (min-width: 768px) {
  section {
    padding-right: 0 !important;
    margin-right: 0 !important; } }

@media screen and (min-width: 1000px) {
  section {
    padding-left: 0 !important; } }

/* ESTA ES LA QUE NO ME SALE */
@media screen and (min-width: 830px) {
  section {
    padding-left: 3.5rem !important; } }
