/* COLORS */
$bg-color: black;
$second-bg-color: #1A1B1D;
$text-color:white;

/* FONTS */
@font-face {
    font-family: "Yanone";
    src: url('../fonts/yanone.ttf');
}

@font-face {
    font-family: "jersey";
    src: url('../fonts/Jersey\ M54.ttf');
}

@font-face {
    font-family: "roboto-regular";
    src: url("../fonts/roboto-regular.ttf");
}

$title: jersey;
$title-size: 50px;

$text: Yanone;
$text-size: 25px;


/* EN 'AYUDA' */
/* MAPA DE COLORES */
$colores:(primary:black, primary-light:lighten(black, 20%), secondary: lighten(black,40%), text-primary:white);

/* breakpoint */
$desktop: 1020px; 


