@import 'variables';
@import 'header';
@import 'footer';
@import 'mixins';

/* SCSS FONTS */
h1 {
    font-family: $title;
    font-size: $title-size;
    color: $text-color;
}

h2 {
    font-family: $subtitle;
    font-size: $subtitle-size;
    color: $text-color;
}

h3 {
    font-family: $text;
    font-size: $text-size;
    color: $text-color;
}

main {

    .portada {
        background-image: url('../media/portadas-varios/bg.jpg');
        background-size: cover;
        color: $text-color;
        text-align: center;
        border-top: 1px solid whitesmoke;
        width: auto;
        height: auto;
        padding-top: 200px;
        padding-bottom: 200px;
    }

    .principal {
        padding-top: 100px;
        padding-bottom: 100px;

        h1 {
            letter-spacing: 2px;
        }

    }

    .bg-quienes {
        background-color: $second-bg-color;


        .quieneSomos {
            font-family: $text;
            font-size: $text-size;
            color: $text-color;
            text-align: center;
            padding-bottom: 20px;
        }

        .h3-quienes {
            font-family: $subtitle;
            font-size: $subtitle-size;
        }
    }

    .sectionProductos {
        background-color: $second-bg-color;
        font-family: $text;
        font-size: 30px;
        padding-left: 0;
        padding-right: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto
    }

    /* en NOVEDADES */
    .bg-prod {
        background-color: $bg-color;
    }

    .productos {
        text-align: center;
        position: relative;
        margin: 0 -15px;
        padding-right: 0;
        background-position: center center;
        background-size: cover;
    }

    #boton {
        padding: 5px 20px;
        font-family: $text;
        font-size: 18px;
        color: $text-color;
        background-color: transparent;
        border-color: #ffffff;
    }

    .position {
        width: 100%;
        position: absolute;
        top: 30%;
        text-align: center;
        color: $text-color;
        font-size: 30px;
        letter-spacing: 3px;
    }

    .hover-img:hover {
        background-color: #1A1B1D;
        opacity: 0.3;
    }

    @media screen and (min-width:768px) {
        .position {
            top: 40%
        }
    }

    .transition {
        transition: transform 0.5s;

        &:hover {
            transform: scale(1.5);
        }
    }
}

/* en GROWSHOP y SMOKESHOP */
.gt {
    font-size: xx-large;
    padding-top: 15px;
    padding-bottom: 15px;
}

/* En AYUDA */

.main-ayuda {
    background-color: $second-bg-color;
    color: $text-color;
}

.contactoAyuda {
    text-align: center;
    font-family: $text;

    a#a-ayuda {
        text-decoration: none;
        color: white;
    }

    a#a-ayuda:hover {
        color: #A5425F;
    }
}